<div class="jumbotron">
	<h1>Donald Hokanson's Portfolio</h1>
</div>

<div class="container home">
	<div class="row">
		<%= link_to about_path do %>
			<div class="col-sm-4 tile about">
				<h1>About</h1>
				<p>Learn more about me</p>
			</div>
		<% end %>

		<%= link_to projects_path do %>
			<div class="col-sm-8 tile projects">
				<h1>Projects</h1>
				<p>Take a look at some projects I've done</p>
			</div>
		<% end %>
	</div><!--row-->

	<div class="row">
		<%= link_to resume_path do %>
			<div class="col-sm-8 tile resume">
				<h1>Resume</h1>
				<p>Check out my work experience</p>
			</div>
		<% end %>

		<%= link_to contact_path do %>
			<div class="col-sm-4 tile contact">
				<h1>Contact</h1>
				<p>How to get a hold of me</p>
			</div>
		<% end %>
	</div><!--row-->
</div><!--container-->