<div class="jumbotron">
	<h1>Donald Hokanson's Portfolio</h1>
</div>

<div class="container home">
	<div class="row">
		<%= link_to about_path do %>
			<div class="col-sm-4 about">
				<div class="tile">
					<h1>About</h1>
					<p>Learn more about me</p>
				</div>
			</div>
		<% end %>

		<%= link_to projects_path do %>
			<div class="col-sm-8 projects">
				<div class="tile">
					<h1>Projects</h1>
					<p>Take a look at some projects I've done</p>
				</div>
			</div>
		<% end %>
	</div><!--row-->

	<div class="row">
		<%= link_to resume_path do %>
			<div class="col-sm-8 resume">
				<div class="tile">
					<h1>Resume</h1>
					<p>Check out my work experience</p>
				</div>
			</div>
		<% end %>

		<%= link_to contact_path do %>
			<div class="col-sm-4 contact">
				<div class="tile">
					<h1>Contact</h1>
					<p>How to get a hold of me</p>
				</div>
			</div>
		<% end %>
	</div><!--row-->
</div><!--container-->